*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.json
app/library/build/outputs/aar/library-release.aar
app/library/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
